%p
  = label_tag :title, "Talk Title: "
  = f.text_field :title
%p
  = label_tag :blurb, "Talk Blurb: "
  = f.text_field :blurb

%p
  = label_tag :description, "Talk Description: "
  = f.text_area :description

%p
  = label_tag :speaker_id, "Speaker"
  = f.select("speaker_id", Speaker.all.collect {|sp| [sp.name.capitalize, sp.id]})

%p
  = label_tag :date, "Talk Date: "
  = f.date_field :date, :value => "2015-05-29", :disabled =>"true"

%p#duration
  = label_tag :duration, "Talk Duration: "
  %span
    %em 20
    mins
  = f.range_field :time, :step =>20, :value => 20, :min =>20, :max=>60

= f.hidden_field :limit, :value =>30

= f.submit
