%h1 Add Talk
.form
  = form_for :talk, :action => user_signup_path  do |f|
    %p
      = label_tag :title, "Talk Title: "
      = f.text_field :title
    %p
      = label_tag :blurb, "Talk Blurb: "
      = f.text_field :blurb

    %p
      = label_tag :description, "Talk Description: "
      = f.text_area :description

    %p
      = label_tag :date, "Talk Date: "
      = f.date_field :talk_date, :value => "2015-05-29"

    %p
      = label_tag :time, "Talk Time: "
      = f.time_field :talk_time, :min => "10:00:00"

    %p
      = label_tag :speaker, "Speaker: "
      = f.select("speaker_id", Speaker.all.collect {|a| [a.name.capitalize, a.id]})

    f.hidden_field :limit, :value =>30
    f.hidden_field :duration, :value =>60

    = f.submit "Add Talk"






