%div.small-9.columns
  - (9..16).each do |row|
    %ul.small-block-grid-4
      - ["00","15","30","45"].each do |col|
        %div.single-talk.larger-talk-box
          %span.cell-time
            %li.inline-block= "#{row}:#{col}"
          %div.cell-content.dropTarget

%div.small-3.columns#talk-list
  %h2 All Talks
  - @talks.each do |talk|
    %div.single-talk
      %div
        %h1
          Title:
          = talk.title
        %p
          Blurb:
          = talk.blurb
        %p
          Speaker:
          = talk.speaker.name
        %p
          =link_to 'Edit', "/talks/#{talk.id}/edit"
          / by
          / = talk.speaker.name
          / %a{:href => "#{talk.id}/profile"} Show
          / %a{:href => "#{talk.id}/edit"} Edit
          %div.talk-box-close x
%div.result
:javascript
  $(function() {

  });
  $('#talk-list').sortable();
  talk_draggable();
  $('.dropTarget').on('load',function() {
    console.log('hello');
  });
  // $.get( "/talks/api/json", function( data ) {

  //   $.each(data, function(index, key) {
  //     debugger;
  //     $currentData = $(this);
  //     $currentData = $currentData[0].start_time;
  //     $match = false;
  //     $matchElement = "";
  //     $title = "";
  //     $allDropTarget = $('.single-talk');

  //     $.each($allDropTarget, function() {
  //       $timeData = $(this).find('span li').html();
  //       $droppableElem = $(this).find('.dropTarget');

  //       if($timeData === $currentData) {
  //         $match = true;
  //         $matchElement = $(this);

  //       }
  //     });

  //     if($match) {
  //       $title = $('h1').html('Title: '+ key.title);
  //       //debugger;
  //       $matchElement.find('.dropTarget').append($title[0]).removeClass('dropTarget');
  //     }
  //     console.log('dataEach');

  //   });
  //     //$('.currentTarget').parent().find('span li').html()
  // });




