%div.small-9.columns
  - (9..16).each do |row|
    %ul.small-block-grid-4
      - ["00","15","30","45"].each do |col|
        %li.single-talk.larger-talk-box.inline-block.dropTarget= "#{row}:#{col}"

%div.small-3.columns.content
  %h2 All Talks
  - @talks.each do |talk|
    %div.single-talk.draggable#right-menu
      %div
        %h1= talk.title
        %p= talk.blurb
        %p
          =link_to 'Edit', "/talks/#{talk.id}/edit"
          / by
          / = talk.speaker.name
          / %a{:href => "#{talk.id}/profile"} Show
          / %a{:href => "#{talk.id}/edit"} Edit
          %div.talk-box-close x

:javascript
  $(function() {
    $( ".draggable" ).draggable({
      containment: "body"
    });
  });

  $('.dropTarget').droppable({
    drop: function(ev, ui) {
        $(this)
          .html( $(this).text().trim() + ($(ui.draggable).html()) )
          .attr("class", "single-talk larger-talk-box inline-block");

        // this is debug code to help with AJAX call
        console.log($(ui.draggable).find('a').attr('href'));

        $(ui.draggable).remove();
        $(this).find('div')
          .css("display","block");
        $(this).find('div').click(function(){
          $(this).append().fadeIn("slow");
          $(this).fadeOut("slow",function(){
            $(this).remove();
          });
        });
      }
  });

  $(function(){
    $( ".click-test" ).click(function(){
      console.log($(this).html());
    });
  });
