%div.small-9.columns
  - (9..16).each do |row|
    %ul.small-block-grid-4
      - ["00","15","30","45"].each do |col|
        %li.single-talk.inline-block.dropTarget= "#{row}:#{col}"
%div.small-3.columns.content
  %h2 All Talks
  - @talks.each do |talk|
    %div.single-talk.draggable
      %p= talk.title
      %p= talk.blurb
      %p
        =link_to 'Edit', "/talks/#{talk.id}/edit"
        / by
        / = talk.speaker.name
        / %a{:href => "#{talk.id}/profile"} Show
        / %a{:href => "#{talk.id}/edit"} Edit

:javascript
  $(function() {
    $( ".draggable" ).draggable();
  });

  $('.dropTarget').droppable({
    drop: function(ev, ui) {
        $(ui.draggable).detach();
        $(this)
          .html( ($(ui.draggable).html()) )
          .attr("class", "single-talk inline-block draggable");
        console.log($(ui.draggable).find('a').attr('href'));
        $(ui.draggable).remove();
      }
  });
  
  console.log("testing");
  
  $(function(){
    $( ".click-test" ).click(function(){
      console.log($(this).html());
    });
  });
