<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>

<ul class="list_table">
  <li>
    <% @users.each do |user| %>
      <%= user.email %>
      <a href="1/profile">Show</a>
      <a href="1/edit">Edit</a>
    <% end %>
  </li>
</ul>


index.html.erb
<% talks = @talks.to_json %>
<%= talks[0] %>
<script>
  console.log("#{<%= talks[0] %>}");
  var talks = parseJSON(<%= @talks_json %>);
  debugger;
  // $.each(<%= @talks_json %>, function(x){
  //   console.log(<%= @blach %>);
  // });
</script>
