
%p
  = f.label :name, "Name: "
  = f.text_field :name

%p
  = f.label :blurb, "Blurb: "
  = f.text_field :blurb

%p
  = f.label :image_url, "Local Avatar Upload : "

  -if @speaker.image?
    = image_tag(speaker.image) if speaker.image?
  = f.file_field :image_url

  / = f.label :image_url, "Remote Avatar Upload : "
  / = f.text_field :remote_image_url

%p
  should probs put in connection to user account password here?

%p
  = f.submit