
%p
  = label_tag :name, "Name: "
  = f.text_field :name

%p
  = label_tag :blurb, "Blurb: "
  = f.text_field :blurb

%p
  should probs put in connection to user account password here?

%p
  = f.submit