
%p
  = label_tag :name, "Name: "
  = f.text_field :name

%p
  = label_tag :blurb, "Blurb: "
  = f.text_field :blurb

%p
  = label_tag :image_url, "Avatar: "
  = f.text_field :image_url

%p
  should probs put in connection to user account password here?

%p
  = f.submit