!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wdiconf
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        / Title Area
        %li.name
          %h1
            %a{:href => "#"} Admin Rails
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => ""}
            %span Menu
      %section.top-bar-section
        = render '/layouts/navbar'
        = render '/layouts/login_form'


    = yield
